<form method="post" action="/flashcards">

	<div class="upload">

		<div class="upload-header">
			<h2>Upload CSV</h2>
			<h4>To Get Started</h4>
			<div class="deck-info">
				<input type="file" id="input" class="upload-input" name="upload-input" />
				<label for="deck-name">Deck Name:</label>
			    <input type="text" name="deck-name" />
			    <label for="deck-descrip">Deck Description:</label>
			    <input type="text" name="deck-descrip" />
			</div>
			<input type="submit" value="Upload" class="upload-submit" />
			<p class="upload-paragraph">- or -</p>
			<a href="/showdecks" value="" class="upload-submit view-all-decks" >View All Decks</a>
		</div>




	</div>

</form>